* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    height: 100vh;
}

.main-ctn {
    display: flex;
    height: 100%;
}

.banner-section {
    height: 100%;
}

.banner-ctn {
    max-width: 100%;
    height: 100%;
}

.banner-img {
    height: 100%;
    width: 100%;
}